workflows/CODER_PATH_SORCERER.json
{
  "name": "CODER-PATH SORCERER",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        -640
      ],
      "id": "2a756163-955e-4794-948c-262847859e1b",
      "name": "When chat message received",
      "webhookId": "49bf9509-3e51-4659-8c21-10346b22c277"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -300,
        -640
      ],
      "id": "97cb017c-97c3-4f6f-a00b-605217efbd95",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -460,
        -440
      ],
      "id": "604acfca-34ed-478f-a724-ed8895b936b3",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "databaseName": "product"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -260,
        -360
      ],
      "id": "f67803b3-7b92-4c4b-8e21-24cae38ffebc",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "AcssXrOkzXnGBoWU",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "name": "Localservice",
        "description": "nombre ,parametros"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        40,
        -460
      ],
      "id": "605feaf6-2268-43c8-b289-ac4c1c0996f3",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "mongoCollection": {
          "__rl": true,
          "value": "product",
          "mode": "list",
          "cachedResultName": "product"
        },
        "vectorIndexName": "vector_deepseek",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.1,
      "position": [
        -140,
        -320
      ],
      "id": "07e5b93e-5e3e-4c8a-86a5-77e7f185decb",
      "name": "MongoDB Atlas Vector Store1",
      "credentials": {
        "mongoDb": {
          "id": "AcssXrOkzXnGBoWU",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -180,
        -160
      ],
      "id": "d15e39ec-1a2e-47ac-8c8c-95eda7874bcd",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        180,
        -320
      ],
      "id": "a0210539-4d07-4bce-acd4-8e92241aa341",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "name": "localservice",
        "description": "nombre"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        360,
        -540
      ],
      "id": "79b0148b-33d1-4fd5-b16d-dedfb2c25c0a",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "2222",
          "mode": "list",
          "cachedResultName": "2222"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        340,
        -320
      ],
      "id": "c119651f-e5fc-4b28-ad6b-d159cdd1f127",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        620,
        -440
      ],
      "id": "bd115c62-699e-4138-a516-7506922cb72f",
      "name": "Ollama Model1",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        440,
        -100
      ],
      "id": "32da2fd4-687c-4cfe-a01d-bb6d3d80e9cc",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"text\": \"Hello Joffre, welcome to Sorcerer\",\n  \"voice\": \"sarah\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        -640
      ],
      "id": "50b72d88-7207-4f7a-8911-dff7f874972c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "command": "=/opt/venv/bin/python /data/KOKORO/voicegen.py \"{{ $json.text }}\" \"{{ $json.voice }}\" 1\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        260,
        -680
      ],
      "id": "64384cb7-e2a3-4800-a3dd-3401aaeb6cff",
      "name": "Execute Command",
      "retryOnFail": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fileSelector": "/data/KOKORO/output.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        500,
        -740
      ],
      "id": "7da3289d-f64c-4b22-a3ef-90c6a5df6861",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Atlas Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e9f92bb9-ada9-4399-8d06-f882ce5cb028",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "L7NozFBSoBjanEy2",
  "tags": []
}